@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
#root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    --light-blue: #d8ede9;
    --nunito: "Nunito", sans-serif;
    --light-grey: #edeef0;
    --special-green: #29d884;
    --light-green: #e9fcf2;
    --special-orange: #ff441f;
}

.grow {
    flex-grow: 1;
}
.img-container {
    height: 250px;
}
.bg-light-blue {
    background-image: url("./assets/bg.svg");
}
.bg-recetas {
    background-image: url("./assets/bg-recetas.svg");
}
.bg-light-grey {
    background-color: var(--light-grey);
}
.btn-green {
    background-color: var(--special-green) !important;
    color: #fff !important;
    width: 120px;
    transition: all 1s ease-in-out;
    &:hover {
        background-color: #1b9b5d !important;
        color: #fff !important;
    }
}
.btn-light-green {
    background-color: var(--light-green) !important;
    color: var(--special-green) !important;
    transition: all 1s ease-in-out;
    &:hover {
        background-color: var(--special-green) !important;
        color: #fff !important;
    }
}
.ff-nunito {
    font-family: var(--nunito);
}
.medium {
    font-size: 32px;
}
.btn-orange {
    background-color: var(--special-orange) !important;
    color: #fff !important;
    transition: all 1s ease-in-out;
    &:hover {
        background-color: #c03417 !important;
        color: #fff !important;
    }
}
.btn-outline-orange {
    background-color: #fdb4a6 !important;
    border: 1px solid var(--special-orange) !important;
    color: var(--special-orange) !important;
    transition: all 1s ease-in-out;
    &:hover {
        background-color: var(--special-orange) !important;
        color: #fff !important;
    }
}
.bg-orange {
    background-color: var(--special-orange);
}
.text-orange {
    color: var(--special-orange);
}
.title {
    font-size: 32px;
    font-family: var(--nunito);
    font-weight: 800;
}

.subtitle {
    font-size: 16px;
}
.max-img {
    max-height: 500px;
}

@media screen and (min-width: 700px) {
    .title {
        font-size: 40px;
    }
    .subtitle {
        font-size: 20px;
        width: 60%;
        margin: 0 auto;
    }
    .w-150 {
        width: 250px;
    }
}
@media screen and (min-width: 1024px) {
    .title {
        font-size: 72px;
    }
    .subtitle {
        font-size: 24px;
    }
}

.max {
    height: 380px !important;
}
@media screen and (min-width: 992px) {
    .rotate:hover {
        animation: rotate-center 0.6s ease-in-out both;
    }
}
@keyframes rotate-center {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}

.scale-effect:hover {
    transition: all 0.3s ease-in-out;
    transform: scale(1.02);
}
.shadow {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.maxModal {
    width: 100%;
    max-height: 400px;
}
.card-height {
    height: 200px !important;
}
.grid {
    display: grid;
    place-items: center;
}
